[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
drf-nested-routers = "*"
django-rest-framework-social-oauth2 = "*"
djoser = "*"
django-cors-headers = "*"
django-celery-results = "*"
redis = "*"
celery = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
psycopg2 = "*"
sentry-sdk = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
